.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 30%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
}
.headind_srch{ background-color: #e3e7e2; padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #b6b4b4;}

.recent_heading h4 {
  color: #020202;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 5px 5px 5px;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 450px; overflow-y: auto;}

.active_chat{ background:#fffffc; color: #020202;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #fdfdfd none repeat scroll 0 0;
  border-radius: 3px;
  color: #080707;
  border-radius: 20px;
  font-size: 14px;
  margin: 15px;
  padding: 10px 20px 10px 24px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 15px 15px;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 10px;
  width: 70%;
  background-image: url("/img/background_hnx_default.gif");
}

 .sent_msg p {
  background: #9ce08f none repeat scroll 0 0;
  border-radius: 20px;
  font-size: 14px;
  margin: 0; color:rgb(0, 0, 0);
  padding: 10px 20px 10px 24px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write {
  padding: 10px 20px 10px 24px;
  background-color: #fffdfd;
  border-radius: 25px;
  border: none;
  color: #070707;
  font-size: 16px;
  float: right;
  min-height: 60px;
  width: 90%;
  max-width: 90%;
  overflow-y: auto;
}


.type_msg { border-radius: 25px; background-color: #e6e6e6; border-top: 1px solid #c4c4c4;position: relative; max-width: 100%;}
.msg_send_btn {
  font-size: 17px;
  height: 50px;
  position: absolute;
  left:10px;
  top: 15px;
  width: 60px;
}
.messaging {padding: 0 0 50px 0;}
.msg_history {
  height: 450px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb { 
  border-radius: 10px;
}